<h4>{{ feature.name }}</h4>
<span ng-repeat="tag in feature.tags" class="label">{{ tag.name }}</span>
<p>{{ feature.description }}</p>
<pre class="uri">{{ feature.uri.replace(uriWrapRegEx, uriWrapReplaceFunc) }}</pre>
<section ng-repeat="scenario in filteredScenarios | filter:searchText">
	{{scenarioCount = $index;""}} 
	<h5>{{ scenario.name }}</h5>
	<span ng-repeat="tag in scenario.tags" class="label">{{ tag.name }}</span>
	<p>{{ scenario.description }}</p>
	<p ng-show="scenario.background"><strong>{{ scenario.background.keyword }}</strong> {{ scenario.background.name }}</p>
	<table class="table table-striped table-hover table-bordered">
		<thead>
			<tr>
				<th class="firstTD">Step</th>
				<th>Status</th>
				<th>Duration</th>
				<th>Attachments</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="step in scenario.steps" id="step_{{scenarioIdx}}_{{$index}}" ng-class="{passed:'success', failed:'danger', unknown:'warning'}[step.result.status]">
				<td class="firstTD">
					<strong>{{ step.keyword }}</strong> {{ step.name }}
				</td>
				<td>
					<span ng-show="!step.result.error_message">{{ step.result.status }}</span>
					<button ng-show="step.result.error_message" onclick="errorLogLightbox('step_{{scenarioIdx}}_{{$index}}');" tooltip-placement="left" tooltip="Error Log" type="button" class="btn btn-danger btn-sm">{{ step.result.status }}</button>	
				</td>
				<td>{{ step.result.duration ? duration(step.result.duration) : '' }}</td>
				<td>	
					<span ng-repeat="n in step.embeddings">
						<span ng-if="n.mime_type === 'image/png'">
							<button tooltip-placement="left" tooltip="Embedded Screenshot" onclick="openLightbox('#lightbox_{{scenarioCount}}_{{$index}}')" type="button" class="btn btn-primary btn-sm">Screenshot</button>
						</span>
						
						<span ng-if="n.mime_type === 'video/mp4'">
							<button tooltip-placement="left" tooltip="Embedded Video" onclick="openLightbox('#lightbox_{{scenarioCount}}_{{$index}}')" type="button" class="btn btn-primary btn-sm">Video</button>
						</span>


						<div style='display:none'>
							<div style='background:#FFF;' id='lightbox_{{scenarioCount}}_{{$index}}' class="lightbox">
								<div class="panelHead">
									<h3 class="panelTitle">Embedded {{n.mime_type === 'image/png' ? 'Screenshot' : 'Video'}}</h3>
									<!--<button onclick="$.colorbox.close()" type="button" class="btn btn-primary btn-sm">Close</button>-->
								</div>
								<div class="panelBody">
									<a ng-href="{{getEmbedding(n)}}">
										<img ng-if="n.mime_type === 'image/png'" style="cursor: '\e015', -moz-zoom-in;" ng-src="{{getEmbedding(n)}}">
									</a>
									<div ng-if="n.mime_type === 'video/mp4'" id='inlinevideocontent' >
										<video style="width: 600px; height:400px; margin: 0px auto; display: block;" controls>
											<source ng-src="{{getEmbedding(n)}}" type="video/mp4" />
											Your browser does not support the video tag.
										</video>
									</div>
								</div>
							</div>
						</div>
					</span>
				</td>
			</tr>
			<tr ng-class="{passed:'success', failed:'danger', unknown:'warning'}[scenario.status]">
				<td class="firstTD"><strong>Sum</strong></td><td>{{ scenario.status }}</td><td>{{ scenario.result.duration ? duration(scenario.result.duration) : '' }}</td>
				<td></td>
			</tr>
		</tbody>
	</table>
</section>