<ol class="breadcrumb">
  <li><a href="#">Home</a></li>
  <li><a href="#/products/">Products</a></li>
  <li class="active">Reports</li>
</ol>

<table class="table table-striped table-hover table-bordered">
	<thead> 
		<tr class="sortToggle">
			<th>Options</th>
			<th class="firstTD">Features</th>
			<th>Statistics</th>
			<th><span ng-click="orderPredicate = 'report[\'date\']'; orderReverse=!orderReverse;">Datum</span></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="report in filteredReports | filter: only | filter:searchText">
			<td>
				<button ng-click="featuresOverview('{{report.date.$date}}')" class="btn btn-primary btn-sm">Open</button>
			</td>
			<td  class="firstTD tdCollapseBox" shortener-directive>
				<div class="tdCollapse" ng-click="boolUncollapse = !boolUncollapse" ng-class="{'tdUncollapse':boolUncollapse}">
					{{report.featureNames}}
				</div>
			</td>
			<td style="width: 25%">
				<div class="progress" style="margin-bottom: 0px;">
					{{statistics=getStatistics(report.features);""}}
					<div class="progress-bar progress-bar-success" style="width: {{statistics.passedPercent}}%">{{statistics.passed}}</div>
					<div class="progress-bar progress-bar-warning" style="width: {{statistics.unknownPercent}}%">{{statistics.unknown}}</div>
					<div class="progress-bar progress-bar-danger" style="width: {{statistics.failedPercent}}%">{{statistics.failed}}</div>
				</div>
			</td>
			<td class="noWrap">{{ report.date.$date | date:'dd-MM-yyyy HH:mm:ss' }}</td>
		</tr>
	</tbody>
</table>
<div class="text-center">
	<ul class="pagination">
		<li><a href="#/reports/{{$routeParams.colName}}?page=0">&laquo;</a></li>
		<li ng-repeat="n in range(pages)">
			<a href="#/reports/{{$routeParams.colName}}?page={{n}}">{{n + 1}}</a>
		</li>
		<li><a href="#/reports/{{$routeParams.colName}}?page={{pages - 1}}">&raquo;</a></li>
	</ul>
</div>