<ol class="breadcrumb">
  <li><a href="#">Home</a></li>
  <li class="active">Features</li>
</ol>

<table class="table table-striped table-hover table-bordered">
	<thead> 
		<tr class="sortToggle">
			<th rowspan="2"></th>
			<th rowspan="2" class="firstTD"><span ng-click="orderPredicate = 'name'; orderReverse=!orderReverse;">Feature</span></th>
			<th rowspan="2"><span ng-click="orderPredicate = 'tags'; orderReverse=!orderReverse;">Tags</span></th>
			<th rowspan="2"><span ng-click="orderPredicate = 'status'; orderReverse=!orderReverse;">Status</span></th>
			<th rowspan="2"><span ng-click="orderPredicate = 'result[\'duration\']'; orderReverse=!orderReverse;">Duration</span></th>
			<th colspan="4">Scenarios</th>
			<th colspan="5">Steps</th>
		</tr>
		<tr class="sortToggle">
			<th><span ng-click="orderPredicate = 'result[\'passedScenarioCount\']'; orderReverse=!orderReverse;">Passed</span></th>
			<th><span ng-click="orderPredicate = 'result[\'unknownScenarioCount\']'; orderReverse=!orderReverse;">Unknown</span></th>
			<th><span ng-click="orderPredicate = 'result[\'failedScenarioCount\']'; orderReverse=!orderReverse;">Failed</span></th>
			<th><span ng-click="orderPredicate = 'result[\'scenarioCount\']'; orderReverse=!orderReverse;">Total</span></th>
			<th><span ng-click="orderPredicate = 'result[\'passedStepCount\']'; orderReverse=!orderReverse;">Passed</span></th>
			<th><span ng-click="orderPredicate = 'result[\'unknownStepCount\']'; orderReverse=!orderReverse;">Unknown</span></th>
			<th><span ng-click="orderPredicate = 'result[\'failedStepCount\']'; orderReverse=!orderReverse;">Failed</span></th>
			<th><span ng-click="orderPredicate = 'result[\'skippedStepCount\']'; orderReverse=!orderReverse;">Skipped</span></th>
			<th><span ng-click="orderPredicate = 'result[\'stepCount\']'; orderReverse=!orderReverse;">Total</span></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="feature in filteredFeatures ">
			<td>
				<div>
					<span ng-click="isCollapsed = !isCollapsed" style="cursor:pointer" class="glyphicon glyphicon-chevron-{{ isCollapsed ? 'right' : 'down' }}"></span>
				</div>
			</td>
			<td class="firstTD">
				<strong ng-click="featureDetails(feature)" style="cursor:pointer">{{ feature.name }}</strong>
				<div collapse="isCollapsed">
					<p>{{ feature.description }}</p>
					<div ng-repeat="comment in feature.comments">{{ comment.value }}</div>
					<pre class="uri">{{ feature.uri.replace(uriWrapRegEx, uriWrapReplaceFunc) }}</pre>
				</div>
			</td>
			<td><span ng-repeat="tag in feature.tags" class="label label-default">{{ tag.name }}</span></td>
			<td>
				<span class="badge badge-danger" ng-show="feature.result.failedScenarioCount">FAILED</span>
				<span class="badge badge-success" ng-hide="feature.result.failedScenarioCount">OK</span>
			</td>
			<td><strong>{{ duration(feature) }}</strong></td>
			<td><span class="badge badge-success">{{ feature.result.passedScenarioCount || "" }}</span></td>
			<td><span class="badge badge-warning">{{ feature.result.unknownScenarioCount || ""  }}</span></td>
			<td><span class="badge badge-danger">{{ feature.result.failedScenarioCount || "" }}</span></td>
			<td><span class="badge">{{ feature.result.scenarioCount || "" }}</span></td>
			<td><span class="badge badge-success">{{ feature.result.passedStepCount || "" }}</span></td>
			<td><span class="badge badge-warning">{{ feature.result.unknownStepCount || "" }}</span></td>
			<td><span class="badge badge-danger">{{ feature.result.failedStepCount || "" }}</span></td>
			<td><span class="badge badge-warning">{{ feature.result.skippedStepCount || "" }}</span></td>
			<td><span class="badge">{{ feature.result.stepCount || "" }}</span></td>
		</tr>
		<tr>
			<td></td>
			<td class="firstTD"><strong>{{ filteredFeatures.length ? 'Sum' : 'No entries found!'}}</strong></td>
			<td></td>
			<td></td>
			<td><strong>{{ filteredFeatures.length ? duration(sum( filteredFeatures, 'duration')) : '' }}</td>
			<td><span class="badge badge-success">{{ sum( filteredFeatures, 'passedScenarioCount') }}</span></td>
			<td><span class="badge badge-warning">{{ sum( filteredFeatures, 'unknownScenarioCount') }}</span></td>
			<td><span class="badge badge-danger">{{ sum( filteredFeatures, 'failedScenarioCount') }}</span></td>
			<td><span class="badge">{{ sum( filteredFeatures, 'scenarioCount') }}</span></td>
			<td><span class="badge badge-success">{{ sum( filteredFeatures, 'passedStepCount') }}</span></td>
			<td><span class="badge badge-warning">{{ sum( filteredFeatures, 'unknownStepCount') }}</span></td>
			<td><span class="badge badge-danger">{{ sum( filteredFeatures, 'failedStepCount') }}</span></td>
			<td><span class="badge badge-warning">{{ sum( filteredFeatures, 'skippedStepCount') }}</span></td>
			<td><span class="badge">{{ sum( filteredFeatures, 'stepCount') }}</span></td>
		</tr>
	</tbody>
</table>