<ol class="breadcrumb">
  <li><a href="#">Home</a></li>
  <li><a href="#/products/">Products</a></li>
  <li class="active">Rankings</li>
</ol>
<h2>Steps Ranking of {{product}}</h2>
<h3><a ng-click="showAll_Failed = ! showAll_Failed" style="cursor: pointer" title="Show All/Top5"><b>Most Failed</b> <i ng-show="!showAll_Failed && selectedStep===null">- Top 5</i><i ng-show="showAll_Failed && selectedStep===null">- Complete List</i><i ng-show=selectedStep!=null>- Selected Step</i></a></h3>

<table class="table table-striped table-hover table-bordered">
	<caption style="text-align:left">Shows a failed steps specific ranking of <b>{{product}}</b>. </caption>
	<thead>
		<tr>
			<th class="firstTD">Step</th>
			<th>Failed</th>
			<th><div>in %</div></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="step in failedSteps | filter: regexCondition=selectedStep | filter:searchText=selectedStep | orderBy:'':true" class="rankings">
			<td class="firstTD" ng-show="(showAll_Failed && $index >=0)||(!showAll_Failed && $index <5)"><div ng-click="selectStep(step.id)" style="cursor: pointer">{{step.id}}</div></td>
			<td ng-show="(showAll_Failed && $index >=0)||(!showAll_Failed && $index <5)"><span>{{step.value|number:0}}</span></td>
			<td ng-show="(showAll_Failed && $index >=0)||(!showAll_Failed && $index <5)"><div>{{(step.value/(sumOverAllFailed/100))|number:2}}</div></td>
		</tr>
	</tbody>
</table>

<h3><a ng-click="showAll_MostExecuted = ! showAll_MostExecuted" style="cursor: pointer" title="Show All/Top5"><b>Most Executed</b> <i ng-show="!showAll_MostExecuted && selectedStep===null">- Top 5</i><i ng-show="showAll_MostExecuted && selectedStep===null">- Complete List</i><i ng-show=selectedStep!=null>- Selected Step</i></a></h3>

<table class="table table-striped table-hover table-bordered">
	<caption style="text-align:left">Shows a executed steps specific ranking of <b>{{product}}</b>. </caption>
	<thead>
		<tr>
			<th class="firstTD">Step</th>
			<th>Executed</th>
			<th>in %</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="step in executedSteps | filter: regexCondition=selectedStep | filter:searchText=selectedStep | orderBy:'':true" class="rankings">
			<td class="firstTD" ng-show="(showAll_MostExecuted && $index >=0)||(!showAll_MostExecuted && $index <5)"><div ng-click="selectStep(step.id)" style="cursor: pointer">{{step.id}}</div></td>
			<td ng-show="(showAll_MostExecuted && $index >=0)||(!showAll_MostExecuted && $index <5)"><span>{{step.value|number:0}}</span></td>
			<td ng-show="(showAll_MostExecuted && $index >=0)||(!showAll_MostExecuted && $index <5)"><div>{{(step.value/(sumOverAllExecuted/100))|number:2}}</div></td>
		</tr>
	</tbody>
</table>

<h3><a ng-click="showAll_SingleStepDurations = ! showAll_SingleStepDurations" style="cursor: pointer" title="Show All/Top5"><b>Highest Single-Step Duration</b> <i ng-show="!showAll_SingleStepDurations && selectedStep===null">- Top 5</i><i ng-show="showAll_SingleStepDurations && selectedStep===null">- Complete List</i><i ng-show=selectedStep!=null>- Selected Step</i></a></h3>

<table class="table table-striped table-hover table-bordered">
	<caption style="text-align:left">Shows a single-step duration specific ranking of <b>{{product}}</b>. </caption>
	<thead>
		<tr>
			<th class="firstTD">Step</th>
			<th>Highest Duration</th>
			<th>in %</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="step in singleSteps | filter: regexCondition=selectedStep | filter:searchText=selectedStep | orderBy:'':true" class="rankings">
			<td class="firstTD" ng-show="(showAll_SingleStepDurations && $index >=0)||(!showAll_SingleStepDurations && $index <5)"><div ng-click="selectStep(step.id)" style="cursor: pointer">{{step.id}}</div></td>
			<td ng-show="(showAll_SingleStepDurations && $index >=0)||(!showAll_SingleStepDurations && $index <5)"><span>{{step.value ? durationInMS(step.value) : ''}}</span></td>
			<td ng-show="(showAll_SingleStepDurations && $index >=0)||(!showAll_SingleStepDurations && $index <5)"><div>{{(step.value/(sumOverAllSingle/100))|number:2}}</div></td>
		</tr>
	</tbody>
</table>

<h3><a ng-click="showAll_CumulatedStepDuration = ! showAll_CumulatedStepDuration" style="cursor: pointer" title="Show All/Top5"><b>Cumulated Step Duration</b> <i ng-show="!showAll_CumulatedStepDuration && selectedStep===null">- Top 5</i><i ng-show="showAll_CumulatedStepDuration && selectedStep===null">- Complete List</i><i ng-show=selectedStep!=null>- Selected Step</i></a></h3>

<table class="table table-striped table-hover table-bordered">
	<caption style="text-align:left">Shows a cumulated step duration specific ranking of <b>{{product}}</b>. </caption>
	<thead>
		<tr>
			<th class="firstTD">Step</th>
			<th>Cumulated Duration</th>
			<th>in %</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="step in cumulatedSteps | filter: regexCondition=selectedStep | filter:searchText=selectedStep | orderBy:'':true" class="rankings">
			<td class="firstTD" ng-show="(showAll_CumulatedStepDuration && $index >=0)||(!showAll_CumulatedStepDuration && $index <5)"><div ng-click="selectStep(step.id)" style="cursor: pointer">{{step.id}}</div></td>
			<td ng-show="(showAll_CumulatedStepDuration && $index >=0)||(!showAll_CumulatedStepDuration && $index <5)"><span>{{step.value ? durationInMS(step.value) : ''}}</span></td>
			<td ng-show="(showAll_CumulatedStepDuration && $index >=0)||(!showAll_CumulatedStepDuration && $index <5)"><div>{{(step.value/(sumOverAllCumulated/100))|number:2}}</div></td>
		</tr>
	</tbody>
</table>