<div class="pull-right">
	<span class="dropdown btn-group" uib-dropdown="">
		<a role="button" class="btn btn-default dropdown-toggle btn-sm" uib-dropdown-toggle=""> Category ({{rCtrl.categoryId}}) <b class="caret"></b></a>
		<ul class="dropdown-menu">
			<li ng-repeat="category in rCtrl.categories">
				<a ui-sref="reports({productId: rCtrl.productId, versionId: rCtrl.versionId, categoryId: category, page: 0})">{{category}}</a>
			</li>
			<li class="divider"></li>
			<li role="menuitem">
				<a ui-sref="reports({productId: rCtrl.productId, versionId: rCtrl.versionId, categoryId: 'ALL', page: 0})">View	all</a>
			</li>
		</ul>
	</span> 
	<span class="dropdown btn-group" uib-dropdown="">
		<a role="button" class="btn btn-default dropdown-toggle btn-sm" uib-dropdown-toggle=""> Version ({{rCtrl.versionId}}) <b class="caret"></b></a>
		<ul class="dropdown-menu">
			<li ng-repeat="version in rCtrl.versions">
				<a ui-sref="reports({productId: rCtrl.productId, versionId: version, categoryId: rCtrl.categoryId, page: 0})">{{version}}</a>
			</li>
			<li class="divider"></li>
			<li role="menuitem">
				<a ui-sref="reports({productId: rCtrl.productId, versionId: 'ALL', categoryId: rCtrl.categoryId, page: 0})">View all</a>
			</li>
		</ul>
	</span>
</div>

<ol class="breadcrumb">
	<li><a ui-sref="products({productId: null})">Home</a></li>
	<li><a ui-sref="products({productId: null})">Products</a></li>
	<li class="active">Reports</li>
</ol>

<div class="table-responsive">
	<table class="table table-striped table-hover table-bordered">
		<thead>
			<tr class="sortToggle">
				<th class="firstTD">Features</th>
				<th>Version</th>
				<th>Category</th>
				<th>Statistics</th>
				<th>Date</th>
				<th ng-show="rCtrl.isAdmin()">Admin</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="report in rCtrl.reports | filter:rCtrl.searchBar.searchText">
				<td class="firstTD" ui-sref="features({productId: rCtrl.productId, reportId: report._id.$oid})" style="cursor: pointer; max-width: 200px; width: 33%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">{{report.featureNames}}</td>
				<td ui-sref="features({productId: rCtrl.productId, reportId: report._id.$oid})" style="cursor: pointer">{{report.version}}</td>
				<td ui-sref="features({productId: rCtrl.productId, reportId: report._id.$oid})" style="cursor: pointer">{{report.category}}</td>
				<td ui-sref="features({productId: rCtrl.productId, reportId: report._id.$oid})" style="width: 25%; cursor: pointer">
					<div class="progress" style="margin-bottom: 0px;">
						{{statistics=rCtrl.statistics;""}}
						<div class="progress-bar progress-bar-success" ng-style="{width: report.statistics.passedPercent+'%'}">{{report.statistics.passed}}</div>
						<div class="progress-bar progress-bar-warning" ng-style="{width: report.statistics.unknownPercent+'%'}">{{report.statistics.unknown}}</div>
						<div class="progress-bar progress-bar-danger" ng-style="{width: report.statistics.failedPercent+'%'}">{{report.statistics.failed}}</div>
					</div>
				</td>
				<td ui-sref="features({productId: rCtrl.productId, reportId: report._id.$oid})" style="cursor: pointer">{{ report.report.date.$date | date:'dd-MM-yyyy HH:mm:ss' }}</td>
				<td ng-show="rCtrl.isAdmin()">
					<button ng-really-message="Are you sure?" confirmation="rCtrl.deleteDocument(report._id.$oid)" class="btn-sm btn-danger">
						<span class="glyphicon glyphicon-remove"></span>
					</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>

<div class="text-center">
	<ul class="pagination">
		<li>
			<a ui-sref="reports({productId: rCtrl.productId, versionId: rCtrl.versionId, categoryId: rCtrl.categoryId, page: 0})">&laquo;</a>
		</li>
		<li ng-repeat="n in rCtrl.pages">
			<a ui-sref="reports({productId: rCtrl.productId, versionId: rCtrl.versionId, categoryId: rCtrl.categoryId, page: n})">{{n + 1}}</a>
		</li>
		<li>
			<a ui-sref="reports({productId: rCtrl.productId, versionId: rCtrl.versionId, categoryId: rCtrl.categoryId, page: rCtrl.pages.length - 1})">&raquo;</a>
		</li>
	</ul>
</div>